<div class="container">
    <div class="main">
        <div class="menu">
            <button (click)="desplegarMenu()">
                <mat-icon>menu</mat-icon>
            </button>
            <br>
            <div *ngIf="menuDesplegado == true" class="opciones">
                <div class="vivienda" (click)='cambiarVista("Viviendas")'>
                    <div>
                        <mat-icon>star</mat-icon>
                    </div>
                    <p>Viviendas</p>
                </div>
                <div class="planes" (click)='cambiarVista("Planes")'>
                    <div>
                        <mat-icon>star</mat-icon>
                    </div>
                    <p>Planes</p>
                </div>
                <div class="cuenta" (click)='cambiarVista("Cuenta")'>
                    <div>
                        <mat-icon>star</mat-icon>
                    </div>
                    <p>Cuenta</p>
                </div>
            </div>
        </div>
        <div *ngIf="propiedad !== undefined && usuario !== undefined" class="content">
            <div class="details">
                <h1>Detalles de Vivienda</h1>
                <br>
                <img src="imagenes/propiedades/{{propiedad.nombre}}.png" style="width: 65%; min-width: 200px;">
                <h1>Costo: S/{{propiedad.valor_vivienda}}</h1>
                <h3>BPP: S/{{getBBP(usuario, propiedad)}}</h3>
                <h4>Detalles BPP:</h4>
                <h5>Rango de Costo: {{getRangoPrecio(propiedad.valor_vivienda)}}</h5>
                <h5>Tipo de Vivienda: {{propiedad.tipo}}</h5>
                <h3>Detalles de Vivienda</h3>
                <h4>Distrito: {{propiedad.distrito}}</h4>
                <h4>Dirección: {{propiedad.direccion}}</h4>
            </div>
            <div class="plan">
                <h1>Datos del Préstamo</h1>
                <form [formGroup]="planForm" (ngSubmit)="crearPlan()">
                    <mat-form-field appearance="fill" id="banco" class="input-group">
                        <label for="banco">Banco</label>
                        <br>
                        <mat-select formControlName="banco">
                        @for (banco of bancos; track banco) {
                            <mat-option class="selectInput" [ngStyle]="{'background-color': 'white'}" [value]="banco">
                            {{ banco }}
                            </mat-option>
                        }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" id="tipoTasa" class="input-group">
                        <label for="tipoTasa">Tipo de Tasa</label>
                        <br>
                        <mat-select formControlName="tipoTasa" (selectionChange)="cambiarTipoTasa($event.value)">
                        @for (tipoInteres of tiposInteres; track tipoInteres) {
                            <mat-option class="selectInput" [ngStyle]="{'background-color': 'white'}" [value]="tipoInteres">
                            {{ tipoInteres }}
                            </mat-option>
                        }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" id="plazoTasa" class="input-group">
                        <label for="plazoTasa">Plazo de Tasa</label>
                        <br>
                        <mat-select formControlName="plazoTasa">
                        @for (periodoInteres of periodosInteres; track periodoInteres) {
                            <mat-option class="selectInput" [ngStyle]="{'background-color': 'white'}" [value]="periodoInteres">
                            {{ periodoInteres }}
                            </mat-option>
                        }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" id="capitalizacion" class="input-group"
                    [style.visibility]="tipoTasaElegida === 'Nominal' ? 'visible' : 'hidden'"
                    [style.height]="tipoTasaElegida === 'Nominal' ? 'auto' : '0px'">
                    <label for="capitalizacion">Capitalización</label>
                    <br>
                    <mat-select formControlName="capitalizacion">
                        @for (cap of capitalizaciones; track cap) {
                        <mat-option class="selectInput" [ngStyle]="{ 'background-color': 'white' }" [value]="cap">
                            {{ cap }}
                        </mat-option>
                        }
                    </mat-select>
                    </mat-form-field>

                    <div class="input-group">
                        <label for="intereses">Intereses (%)</label>
                        <input type="number" id="intereses" formControlName="porcentajeTasa" step=".01" min="4" required>
                    </div>

                    <div class="input-group">
                        <label for="cuotaInicial">Cuota Inicial (%)</label>
                        <input type="number" id="cuotaInicial" formControlName="cuotaInicial" step=".01" min="7.50" max="30" required>
                    </div>

                    <mat-form-field appearance="fill" id="fechaInicio" class="input-group">
                        <mat-label>Fecha de Inicio</mat-label>
                        <br>
                        <input matInput [matDatepicker]="picker" formControlName="fechaInicio">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <div class="input-group">
                        <label for="plazo">Plazo (En Años)</label>
                        <input type="number" id="plazo" formControlName="plazo" step="1" min="5" max="25" required>
                    </div>

                    <h1 class="formSectionTitle">Gastos Iniciales</h1>

                    <div class="input-group">
                        <label for="notarial">Costes Notariales</label>
                        <input type="number" id="notarial" formControlName="notarial" step=".01" min="0" required>
                    </div>

                    <div class="input-group">
                        <label for="registral">Costes Registrales</label>
                        <input type="number" id="registral" formControlName="registral" step=".01" min="0" required>
                    </div>

                    <div class="input-group">
                        <label for="tasacion">Tasacion</label>
                        <input type="number" id="tasacion" formControlName="tasacion" step=".01" min="0" required>
                    </div>

                    <div class="input-group">
                        <label for="estudio">Comisión de Estudio</label>
                        <input type="number" id="estudio" formControlName="estudio" step=".01" min="0" required>
                    </div>

                    <div class="input-group">
                        <label for="activacion">Comisión de Activación</label>
                        <input type="number" id="activacion" formControlName="activacion" step=".01" min="0" required>
                    </div>

                    <h1 class="formSectionTitle">Gastos Periódicos</h1>

                    <div class="input-group">
                        <label for="comisionPeriodica">Comisión Periódica</label>
                        <input type="number" id="comisionPeriodica" formControlName="comisionPeriodica" step=".01" min="0" required>
                    </div>

                    <div class="input-group">
                        <label for="portes">Portes</label>
                        <input type="number" id="portes" formControlName="portes" step=".01" min="0" required>
                    </div>

                    <div class="input-group">
                        <label for="administracion">Gastos de Administración</label>
                        <input type="number" id="administracion" formControlName="administracion" step=".01" min="0" required>
                    </div>

                    <div class="input-group">
                        <label for="desgravamen">Seguro Desgravamen (%)</label>
                        <input type="number" id="desgravamen" formControlName="desgravamen" step=".01" min="0" required>
                    </div>

                    <div class="input-group">
                        <label for="riesgo">Seguro de Riesgo</label>
                        <input type="number" id="riesgo" formControlName="riesgo" step=".01" min="0" required>
                    </div>

                    <h1 class="formSectionTitle">Periodos de Gracia</h1>

                    <div class="input-group">
                        <label for="graciaTotal">Gracia Total (Meses)</label>
                        <input type="number" id="graciaTotal" formControlName="graciaTotal" step="1" min="0" max="6" required>
                    </div>

                    <div class="input-group">
                        <label for="graciaParcial">Gracia Parcial (Meses)</label>
                        <input type="number" id="graciaParcial" formControlName="graciaParcial" step="1" min="0" max="6" required>
                    </div>

                    <button type="submit" class="login-button">Crear Plan</button>
                </form>
            </div>
        </div>
    </div>
</div>
