.container{
    width: 100vw;

    background-color: #fef7ff;
}

.main{
    width: 95%;
    height: 95%;

    padding: 2.5%;
    padding-left: 0px;

    display: flex;
    flex-direction: row;
}

.menu{
    flex: 0.1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu > button{
    transition: transform 0.5s ease;
}
.menu > button:hover{
    transform: scale(1.1);
}

.opciones{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.opciones > div{
    margin-bottom: calc(15px + .3vw + .3vh);
    transition: transform 0.5s ease;
}

.opciones > div:hover{
    transform: scale(1.1);
}

.opciones > div > div{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.opciones > div > p{
    margin: 5px;
    font-size: calc(15px + 0.3vw);
}

.content{
    flex: 0.9;

    padding: 15px;

    background-color: white;
    border-radius: 25px;

    padding-right: calc(1vw + 100px);

    display: flex;
    flex-direction: column;
}

.table{
    width: 80%;
}

.columnName{
    text-align: center;
}
.column{
    text-align: right;
}


button{
    background-color: #fef7ff00;
    border: none;
}

h1{
    text-align: center;
}

h3{
    font-size: calc(13px + 1vw);
    font-weight: 400;
    text-align: center;
}
h4{
    font-size: calc(12px + .8vw);
}
h5{
    font-size: calc(10px + 0.5vw)
}