.container{
    margin: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.container > div{
    flex: 1
}

.left-side{
    background-color: rgb(21, 47, 71);
    width: 100%;
    height: 100vh;

    align-items: center;
    align-content: center;
}

.left-side > img{
    margin-left: 10%;
    margin-right: 10%;

    width: 80%;
}

.right-side{
    background-color: rgb(234, 243, 255);
    width: 100%;
    height: 100vh;
}

.form-container{
    margin: 10%;
    height: 80vh;
}
.form-container > h1{
    color: rgb(114, 156, 255);
    font-weight: bolder;
    text-decoration: solid;

    font-size: calc(50px + .5vw);

    text-align: center;
}